.img{
    width:100%;
    height:700px;
    background-image: url("./images/raimond-klavins--mnLflOVWEc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.sectlog{
    height:700px;
    width:100%;
    border:1px solid salmon;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-left: 10%;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    width:50%;
    margin-left: 25%;
  }
  .container {
      margin-top: 10%;
    padding: 16px;
    margin-left: 30%;
  }